@model FYP.Models.club

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>club</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.clubname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clubname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.admins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.booksread)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.booksread)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bookstoread)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookstoread)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meetings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meetings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.password)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
